@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<address>
    <strong>Bio: Doug O'Bryon  </strong><br><br />
Experienced MBA specializing in Big Data, pattern recognition, technical writing, and industry research and evaluation. 
Published author featuring over 100 books, whitepapers, articles, and business plans. Recently completed intensive WeCanCodeIT boot-camp focusing
on C#, .NET, CSS, MVC, BootStrap, GitHub, and SQL.<br /><br />
    <strong>Skills:</strong><br /><br />
Software Engineer/Junior Developer with experience in C#, .NET, CSS, MVC, BootStrap, GitHub, and SQL<br />
Technical Writing<br />
Strategic Planning<br />
Market Research<br />
Big Data Capture/Interpretation<br /> 
Content Development<br /> 
Published Author<br />
Keynote Speaker<br />
Project Leadership<br /><br /> 
    <strong>Email: </strong><a href="mailto:dougobryon@gmail.com">dougobryon@gmail.com</a><br />
    <strong>LinkedIn: </strong>   <a href="https://www.linkedin.com/in/douglasobryon">https://www.linkedin.com/in/douglasobryon</a><br />
    <strong>Twitter: </strong><a href="https://twitter.com/DougOBryon">https://twitter.com/DougOBryon</a><br />
    <strong>GitHub:  </strong> <a href="https://github.com/Dougobryon">https://github.com/Dougobryon</a><br />
    <strong>Website:  </strong> <a href="http://www.dougobryon.com/">http://www.dougobryon.com/</a><br />
    <strong>Book: "Specialist Nation - A Survival Guide for America"  </strong> <a href="http://www.amazon.com/dp/B00CNUW846">http://www.amazon.com/dp/B00CNUW846</a><br />