@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Doug Doug O'Bryon</h3>
<address>
    17183 Park Lane Drive <br />
    Strongsville, Ohio  44136<br />
    <abbr title="Phone">P:</abbr>
    443-421-0167
</address>
<address>
    <strong>LinkedIn:</strong>   <a href="mailto:https://www.linkedin.com/in/douglasobryon">https://www.linkedin.com/in/douglasobryon</a><br />
    <strong>GitHub:  </strong> <a href="https://github.com/Dougobryon">https://github.com/Dougobryon</a><br />
    <strong>Website:  </strong> <a href="http://www.dougobryon.com/">http://www.dougobryon.com/</a>
</address>