@{
    ViewBag.Title = "Home Page";
    ViewBag.BodyClass = "homepage";
}
<div class="jumbotron">
    <h1>Bootcamp Projects: A Retrospective</h1>
    <p class="lead">The enclosed programs feature a showcase of projects completed during the 2016 WeCanCodeIT Bootcamp</p>
</div><br /><br /><br /><br /><br /><br /><br />
<div class="row">
<div class="col-md-4">
    <h2>@Html.ActionLink("PROJECTS", "Index", "Projects1")</h2>
    <p>
            A sampling of select software programs sequenced throughout the Spring 2016 cohort from basic to more advanced.
    </p>
</div>
</div>